$font-family:   "Roboto";

html, body {
    margin: 0;
    height: 100%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.background {
  width: 100%;  
  min-height: 100vh;
  display: flex;
  align-items: center;
  padding: 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}


.user {
    width: 90%;
    max-width: 340px;
    margin: 10vh auto;
}

.user_header {
    text-align: center;
}

.user_title {
    font-size: $font-size;
    margin-bottom: -10px;
    font-weight: 500;
    color: white;
}

.form {
    margin-top: 40px;
    border-radius: 6px;
    overflow: hidden;
}


.form_input {
    display: block;
    width: 100%;
    padding: 20px;
    font-family: $font-family;
    border: 0;
    outline: 0;
}

.btn {
    display: block;
    width: 100%;
    padding: 20px;
    font-family: $font-family;
    outline: 0;
    border: 0;
    color: white;
    background: #e09428 ;
}

.form2 {
    margin-top: 40px;
    border-radius: 6px;
    overflow: hidden;
}

.reg {
    text-align: center;
    width: 100%;
    padding: 20px;
    font-family: $font-family;
    outline: 0;
    border: 0;
    color: black;
    background: white ;
}


